 @import url('/assets/fonts?family=PT+Sans:wght@400;700;&display=swap'); 
@import url('/assets/fonts?family=Noto+Sans+JP:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    font-family:'Noto Sans JP', sans-serif;
}
a {
    color: #ff9933;
    touch-action: manipulation;
    font-family: 'Lato', sans-serif;
  }
  
  a:hover {
    color: #bbc3ca;
    text-decoration: none;
  }

  ul{
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: 'Lato', sans-serif;
  }

  section {
    padding: 30px 0;
  }
  
  .section-bg {
    background-color:#e4f2ff;
  }
  
  .section-title {
    text-align: center;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #1a1c20;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  .p-color{
    color: #FF9933 !important;
  }

  .s-color{
    color: #3399ff !important;
  }

  .t-color{
    color:#b3d9ff !important;
  }

  .p-btn{
    background-color: #FF9933 !important;
    box-shadow: 0px 3px 12px #FF993344;
  }

  .s-btn{
    background-color: #321E50 !important;
    box-shadow: 0px 3px 12px #321E5044;
  }

  .p-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 22px 5px #FF993344;
    transition:all .5s ease-in-out;
  }

  .s-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 22px 5px #321E5044;
    transition:all .5s ease-in-out;
  }
  .d-btn{
    background-color: #eb3936 !important;
    box-shadow: 0px 8px 22px 5px #eb393644;
  }

  .d-btn:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 22px 5px #eb393644;
    transition:all .5s ease-in-out;
  }
  

  .mask{
    mask-image:linear-gradient(to bottom, rgba(255,153,51,0.7878501742493873) 0%, rgba(255,255,255,0.5049370089832808) 43%, rgba(255,153,51,0.4881302862942052) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(255,153,51,0.7878501742493873) -30%, rgba(255,255,255,0.5049370089832808) 13%, rgba(255,255,255,1) 27%);
    margin-top: -20px;
  }

  .p-bg{
    background: linear-gradient(to right, rgb(255, 130, 4),rgb(255, 157, 60));
    background-color: #ff9933;
  }

  .s-bg{
    background: linear-gradient(to right, rgb(0, 0,65, 1),rgb(0, 0,105, 1));
    background-color: #ff9933;
  }

  button:focus{
    outline: none;
  }

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
    background: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 14px;
  }
  
  #topbar .contact-info a {
    line-height: 1;
    color: #999;
    transition: 0.3s;
  }
  
  #topbar .contact-info a:hover {
    color: #ff9933;
  }
  
  #topbar .contact-info i {
    color: #ff9933;
    padding: 4px;
  }
  
  #topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 10px;
  }
  
  #topbar .social-links a {
    color: #ff9933;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
  }
  
  #topbar .social-links a:hover {
    color: #ff9933a2;
  }



  
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    height: 70px;
    transition: all 0.5s;
    transition: all 0.5s;
    padding: 10px 0;
    background: #fff;
    z-index: 997;
  }
  
  #header.header-scrolled {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 10px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #ff9933;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  .login-info button{
    padding: 5px 15px;
    margin: 0 10px;
    letter-spacing: 1.5px;
  }
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  
  .nav-menu, .nav-menu * {
    padding: 0;
    list-style: none;
  }
  
  .header-container{
    margin: 0 25px auto;
  }

  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: #5c768d;
    padding: 12px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #ff9933;
    text-decoration: none;
  }
  
  .nav-menu .drop-down ul {
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: ease all 0.3s;
  }
  
  .nav-menu .drop-down:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .nav-menu .drop-down li {
    min-width: 150px;
    position: relative;
  }
  
  .nav-menu .drop-down ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #103453;
  }
  
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #ff9933;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    right: 100%;
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eab8";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      right: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      right: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\eab8";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: #1f3548;
    transition: 0.4s;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #e3f0fc;
    padding: 10px 20px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #ff9933;
    text-decoration: none;
  }
  
  .mobile-nav .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 10px;
    position: absolute;
    right: 15px;
  }
  
  .mobile-nav .active.drop-down > a:after {
    content: "\eaa0";
  }
  
  .mobile-nav .drop-down > a {
    padding-right: 35px;
  }
  
  .mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
  }
  
  .mobile-nav .drop-down li {
    padding-left: 20px;
  }
  
  .mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: #ff9933;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(31, 53, 72, 0.7);
    overflow: hidden;
    display: none;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    left: 0;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }
  
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(80vh - 114px);
    padding: 0;
    overflow: hidden;
  }
  
  #hero .carousel-item{
      display: flex;
      justify-content: center;
  }
  #hero .carousel-image {
    width: 80%;
    height: calc(80vh - 114px);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
  }
  
  #hero .carousel-image::before {
    content: '';
    background-color: rgba(13, 30, 45, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  #hero .carousel-events{
      display: flex;
    justify-content: center;
    align-items: center;
    
  }
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  
  #hero .carousel-content {
    text-align: left;
    padding-left: 40px;
  }
  
  
  @media (max-width: 992px) {
    #hero{
      height: auto;
    }
    #hero .carousel-item{
        height: 50vh;
    }
    #hero .carousel-image {
      height: inherit;
      position: absolute;
      width: 100%;
    }
    #hero .carousel-events{
        background-color: #ff9933d5;
        background-color: linear-gradient(to right, rgb(255, 130, 4),rgb(255, 157, 60));
        z-index: 1;
    }
    #hero .carousel-content.container {
      padding: 0 50px;
    }
  }
  
  #hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 900;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #fff;
  }
  
  #hero h4.date-title {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    color: #eee;
}
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-left,
  #hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-left,
  #hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 10%;
  }
  
  #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  #hero .btn-get-started {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px 0 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 0;
    background: transparent;
    border: 2px solid #fff;
  }
  
  
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 60%;
    }
    #hero .carousel-control-prev, #hero .carousel-control-next {
      width: 5%;
    }
  }

  /*--------------------------------------------------------------
  # Category Small 
   --------------------------------------------------------------*/
  
  
   .cat-img{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .cat-img img{
    max-height: 100px;
    max-width: 100px;
    object-fit: cover;
    border: 1px solid transparent;
     border-radius: 50%;
     box-shadow: 0px 3px 12px #321E5044;
   }
   .cat-title{
     margin-top: 10px;
   }
   .cat-title h4{
    font-size: 15px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.5px;
   }
   .cat-link p{
    margin:0;
  }
   
   

  


   @media only screen and (max-width: 480px) {
   
    #catCarousel{
      margin: 10px 0;
    }
    .cat-link a{
      float: right;
    }
    .cat-link p,.cat-link span{
      display: inline-block;
      margin-right: 5px;
      
    }
  }
 

/*--------------------------------------------------------------
  # Category Card 
   --------------------------------------------------------------*/

   
   .category-card{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
  }
  
  .grid-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap:20px;
    grid-row-gap: 10px;
    width: 100%;
  }
  
  @media(min-width: 540px){
    .grid-main{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .grid-main{
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }

  .card::after {
    background-image: linear-gradient(to right, #43434377 0%, rgba(0, 0, 0, 0.493) 100%);
    border-radius: 4px;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.75;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    z-index: 0;
  }
  
  .card:hover::after{
    opacity: 0.85;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 70%;
    width: 100%;
  }
  
  .card_background{
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    -webkit-trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }

  .card:hover .cat-count{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 1;
  }

  .card:hover .card_category{
    color: #eeee;
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    z-index: 1;
  }
  
  .card:hover .card_content{
    z-index: 1;
  }
  
  .card_content{
    left: 0;
    padding: 10px;
    position: absolute;
    bottom: 0;
  }
  
  .card_category{
    color: #eeee;
    font-size: 0.9rem;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .button {
    background-color: #ff9933;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    min-width: 100px;
    opacity: 0.75;
    padding: 5px 10px;
    text-transform: uppercase;
    transition: box-shadow 0.3s, opacity 0.3s ease-in-out;
    border: 1px solid transparent;
  } 
    
    .cat-count {
      position: absolute;
      right: 20px;
      top: 20px;
      
    }
    .cat-count:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      opacity: 1;
      z-index: 1;
    }

  

/*--------------------------------------------------------------
  # Featured Events
  --------------------------------------------------------------*/
  .flex_event{
    flex-wrap: wrap;
  }

  .flex_event .events_flex_card {
    padding: 0;
    margin: .9em;
    background: #fff;
    min-width: 150px;
    max-width: 380px;
    flex-basis: 28%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-flow: wrap;
  }
  .featured-card {
    transition: box-shadow .1s ease-in-out;
}
.featured-card, .featured-title {
  position: relative;
  box-sizing: border-box;
}

.featured-card-hover:not(.featured-card-default):not(.featured-card-primary):not(.featured-card-secondary):hover {
  background: #fff;
  box-shadow: 0 14px 25px rgba(0,0,0,.36);
}
.featured-link, a{
  color: #321E50;
}

.featured-link:hover, a:hover {
  color:#321E50;
  text-decoration: none;
}


.featured-card.event .featured-card-body, .featured-card.event .featured-card-media-top {
  position: relative;
  background: #f9f9f9;
}

.featured-card-body {
  padding: 20px;
}
.featured-card-body::after, .featured-card-body::before, .featured-card-footer::after, .featured-card-footer::before, .featured-card-header::after, .featured-card-header::before, .featured-tile::after, .featured-tile::before {
  content: "";
  display: table;
}

.featured-card.event .date {
  position: absolute;
  font-size: .85rem;
  color: #999;
  padding: .4rem .6rem;
  right: .5rem;
  top: -1.5rem;
  background: #f9f9f9;
  border-radius: 3px 3px 0 0;
}

.featured-card.event h3 {
  margin-top: 0;
}
.featured-title {
  font-size: 1.5rem;
  line-height: 1.4;
}

.featured-card-body>:last-child, .featured-card-footer>:last-child, .featured-card-header>:last-child, .featured-tile>:last-child {
  margin-bottom: 0;
}



.featured-text {
 display: flex;
 justify-content: start;
 align-items: center;
 flex-wrap: wrap;
}


.event-loc span{
  margin-right: 10px;
}

.featured-link:hover .featured-text button, a:hover .featured-text button,.featured-text button:hover{
  background-color: #321E50;
    box-shadow: 0px 3px 12px #321E5044;
}
.d-btn:hover{
  transform: translateY(-5px);
  box-shadow: 0px 8px 22px 5px #eb393644;
  transition:all .5s ease-in-out;
}



.event-flag{
  width: 30px !important;
}
.feature-event-img{
  width: 100%;
    object-fit: cover;
    height: 200px;
}



#eventCarousel .owl-prev,#eventCarousel .owl-next{
  position: absolute;
    width: 30px;
    height: 30px;
    font-size: 40px;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px !important;
    color: #321E50 ;
    box-shadow: 0px 3px 12px #321E5044;
    border-radius: 4px;
    top: calc(50% - 15px);
    transform: translateY(-50%);
    transition: 0.3s;
}

#eventCarousel .owl-prev:hover,#eventCarousel .owl-next:hover{
  background-color: #321E50 !important;
  box-shadow: 0px 3px 12px #321E5044;
  color: #fff;
}
#eventCarousel button.owl-dot{
  background-color: #321e5077;
}

#eventCarousel button.owl-dot.active{
  background-color: #321e50;
}

#eventCarousel .owl-prev{
  left: -5%;
}

#eventCarousel .owl-next{
  right: -5%;
}

/*--------------------------------------------------------------
  # Upcomming Events
  --------------------------------------------------------------*/
 .comming-events{
   padding: 15px !important;
   background-color: #f9f9f9;
 }
 
  .comming-single{
  height: calc(60vh - 30px);
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 3px 12px #FF993344;
  position: relative;
 }

 .comming-events::after{

 }


  /*--------------------------------------------------------------
  # about
  --------------------------------------------------------------*/

  .about{
    position: relative;
  }

  .about::before {
    content: '';
    background-color: rgb(252, 252, 252);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
  }

  .about img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 200px;
    object-fit: none;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 10px;
    height: 200px;
    box-shadow: 0px 3px 12px #FF993344;
  }

  .about .section-title {
    margin-left:20px;
  }
  .about .section-title h2{
    color:#333;
  }
  
  
  .about-content {
    margin-top: 30px;  
  }
  .about-content p{
    color: #999;
  }

  .about-content a {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.5s;
    line-height: 1;
    color: #321E50;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    background: transparent;
    border: 2px solid #321E50;
    z-index:1;
}

.about-content a:hover{
  background-color: #321E50;
    box-shadow: 0px 3px 12px #321E5044;
    color: #fff;
}

/*--------------------------------------------------------------
  # Teams
  --------------------------------------------------------------*/
  .section-team .single-person {
    margin-top: 30px;
    padding: 38px 20px 20px 20px;
    background-color: #f6f9ff;
    border-radius: 5px;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .section-team .single-person:hover {
    background: linear-gradient(to right, rgb(255, 130, 4),rgb(255, 157, 60));
  }

  .section-team .single-person .person-image {
    position: relative;
    margin-bottom: 25px;
    border-radius: 50%;
    transition:padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 5px;
  
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
    max-width: 150px;
    object-fit: cover;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality, .social-icons a ,.social-icons {
  text-transform: uppercase;
  font-size: 14px;
  color: #ff9933;
  text-align: center;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality,
.section-team .single-person:hover .social-icons a {
color: #fff;
}

.social-icons a {
  font-size: 15px;
}
  /*--------------------------------------------------------------
  # Sponsers
  --------------------------------------------------------------*/
  #logoCarousel{
    margin: 40px 0;
    
  }
  .logo-inner img {
    width: 100px !important;
    margin: 0 auto;
  }
  .owl-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .owl-carousel button.owl-dot{
    padding:5px !important;
    border-radius:50px;
    background-color:#ff993398 ;
    margin-right: 5px;
  }
  .owl-carousel button.owl-dot.active{
    background-color:#ff9933 ;
  }

  
  /*--------------------------------------------------------------
  # Frequently Asked Questions
  --------------------------------------------------------------*/
  .faq {
    padding-bottom: 30px;
    

  }

  .faq .faq-item {
    margin-bottom: 40px;
  }

  .faq .faq-item h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #1f3548;
  }


  /*--------------------------------------------------------------
  # footer
  --------------------------------------------------------------*/

  #footer {
    background: #000000ef;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .footer-top {
    background: #000000ef;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 60px 0 30px 0;
  }
  
  #footer .footer-top .footer-info {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-info h3 a img{
    width: 50px;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #fff;
  }
  
  #footer .footer-top .footer-info p span{
  display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 5px;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #ff9933;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #ff9933;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
    position: relative;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin-top: 25px;
  }
  #footer .footer-top .footer-links .wrapper{
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 150px;
	position: relative;
	overflow: hidden;
  top: 1em;
	background-color:transparent;
	box-shadow: 7px 5px 4px rgba(0,0,0,0.5);
	border: 1px solid black;
	border-radius: 2px;
  }

  #footer .footer-top .footer-links ul.scroll{
    position: absolute;
  }
  
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #ff9933;
    font-size: 18px;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #ff9933;
  }
  
  #footer .footer-top .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
  }
  
  
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
  }
  
  #footer .credits a {
    color: #9eccf4;
  }

  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #ff9933;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: #ff9933;
  transition: background 0.2s ease-in-out;
}


 /*--------------------------------------------------------------
# Floating Form
--------------------------------------------------------------*/

ul li{
  list-style: none;
}
.fabs {
  bottom: 0;
  position: fixed;
  margin: 1em;
  left: 0;
  z-index: 998;
  
}

.fab {
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF !important;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  cursor: pointer;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
  position: relative;
  z-index: 998;
  overflow: hidden;
  background: #ff9933;
}

.fab > i {
  
    -webkit-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.fab:not(:last-child) {
  width: 0;
  height: 0;
  margin: 20px auto 0;
  opacity: 0;
  visibility: hidden;
  line-height: 40px;
}

.fab:not(:last-child) > i {
  font-size: 1.4em;
  line-height: 40px;
}

.fab:not(:last-child).is-visible {
  width: 40px;
  height: 40px;
  margin: 15px auto 10;
  opacity: 1;
  visibility: visible;
}

.fab:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
  transition-delay: 25ms;
}

.fab:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 20ms;
  transition-delay: 20ms;
}

.fab:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 40ms;
  transition-delay: 40ms;
}

.fab:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 60ms;
  transition-delay: 60ms;
}

.fab:not(:last-child):nth-last-child(5) {
  -webkit-transition-delay: 80ms;
  transition-delay: 80ms;
}

  /* .fab (:last-child):active,
  .fab (:last-child):focus,
  .fab (:last-child):hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
  }
   */
/*Chatbox*/

.chat {
  position: fixed;
  left: 85px;
  bottom: 20px;
  width: 400px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  box-shadow: 1px 1px 100px 2px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  -webkit-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: none;
}

.chat_fullscreen {
    position: fixed;
    right: 0px;
    bottom: 0px;
    top: 0px;
  }
.chat_header {
      /* margin: 10px; */
    font-size: 13px;
    font-weight: 500;
    color: #f3f3f3;
    height: 55px;
    background: #ff9933 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 8px;
}



.chat.is-visible {
  opacity: 1;
  -webkit-animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .2s cubic-bezier(.42, 0, .58, 1);
  display: block !important;
}
.is-hide{
  opacity: 0;
  display:none;
}

.chat_body {
  background: #fff;
  width: 100%;

  display: inline-block;
  text-align: center;
    overflow-y: auto;

}
#chat_body{
    height: 250px;
}
.chat_login p,.chat_body li, p, a{
    -webkit-animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
  animation: zoomIn .5s cubic-bezier(.42, 0, .58, 1);
}
.chat_body p {
  padding: 20px;
  color: #888
}
.chat_body a {
  width: 10%;
  text-align: center;
  border: none;
  box-shadow: none;
  line-height: 40px;
  font-size: 15px;
}




/*Element state*/

.is-active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.is-float {
  box-shadow: 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32);
}

.is-loading {
  display: block;
  -webkit-animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
  animation: load 1s cubic-bezier(0, .99, 1, 0.6) infinite;
}
/*Animation*/

@-webkit-keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.0;
  }
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* SMARTPHONES PORTRAIT */

@media only screen and (min-width: 300px) {
  .chat {
    width: 250px;
  }
}
/* SMARTPHONES LANDSCAPE */

@media only screen and (min-width: 480px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLETS PORTRAIT */

@media only screen and (min-width: 768px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/* TABLET LANDSCAPE / DESKTOP */

@media only screen and (min-width: 1024px) {
  .chat {
    width: 300px;
  }
  .chat_field {
    width: 65%;
  }
}
/*Color Options*/

.blue .fab {
  background: #42a5f5;
  color: #fff;
}



.blue .chat {
  background: #42a5f5;
  color: #999;
}


/* Ripple */

.ink {
  display: block;
  position: absolute;
  background: rgba(38, 50, 56, 0.4);
  border-radius: 100%;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  webkit-transform: scale(0);
  -webkit-transform: scale(0);
          transform: scale(0);
}
/*animation effect*/

.ink.animate {
  -webkit-animation: ripple 0.5s ease-in-out;
          animation: ripple 0.5s ease-in-out;
}

@-webkit-keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}

@keyframes ripple {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  
  100% {
    opacity: 0;
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    webkit-transform: scale(5);
    -webkit-transform: scale(5);
            transform: scale(5);
  }
}
::-webkit-input-placeholder { /* Chrome */
  color: #bbb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bbb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bbb;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #bbb;
}

 .floating-form{position: relative;}
.effect{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
.effect ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect:focus ~ .focus-border,
.has-content.effect ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
.effect ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect:focus ~ label, .has-content.effect-17 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}





/* Events page  */

.events-banner {
  max-height: 490px;
  min-height: 300px;
  background-clip: content-box;
  background-size: cover;
  position: relative;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items:center;
}

.events-banner:before {
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  box-shadow: inset 0 0 0 200px rgba(125,125,125,.3);
  filter: blur(20px);
}

.events-card-body{
  padding: 20px;
  background: #eee;
}

.event-card-body ul.dates {
  list-style: none;
  padding-left: 0;
  position: relative;
}



.event-date-box {
  background: #ff9933;
  border: 0!important;
  color: #fff!important;
  width: 90px;
  height: 30px;
  border: solid 1px #adb0b6;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.event-date-box .date {
  letter-spacing: 1px;
}

.events-card-title{
  margin-top: 15px;
  font-size: 1.5rem;
  line-height: 1.4;
}

.loc span,.loc p{
  font-size: .95rem;
    color: #666a73;
}

.reg-btn{
  width: 100%;
  background-color: #ff9933;
  color:#fff;
  font-size: 15px;
}

.reg-btn:hover{
  background-color: #ff9933b0;
  color:#fff;
}

.dl{
  background-color: #d3d3d3;
  border-radius: 5px;
  text-transform: uppercase;
  color: #45494e;
  font-size: .7rem;
  text-align: center;
  padding: 4px;
}

 .dl p {
  color: #ff9933;
  font-size: 20px;
  width: 100%;
  margin: 0;

}
.action{
  margin-top: 110px;
}

.event-img{
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}

@media only screen and (max-width: 480px) {
  .event-img{
   display: none;
  }

  .events-inner {
    overflow: hidden;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl {
  background-color: #d3d3d3;
  border-radius: 5px;
  text-transform: uppercase;
  color: #45494e;
  font-size: 1rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 35%;
  margin-top: 10px;
}

.dl p {
  color: #ff9933;
  font-size: 20px;
  width: 10%;
  margin: 0;
  margin: 0 5px 0;
}

.action{
  margin: 0;
}

}

.events-inner{
 overflow: hidden;
background-color: #eee;
z-index: 1;
}


/* Tabs */

.tabs {
  max-width: 100%;
}
.tabs-nav {
 display:flex;
}
.tabs-nav li{
  padding-left: 50px;
}

.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

.tabs-nav li a{
  display: block;
    padding: 5px 0;
    color: #666a73;
    border-bottom: 2px solid transparent;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    touch-action: manipulation;
}
.tab-active a {
  color: #ff9933 !important;
  border-color: #ff9933 !important;
  transition: color .1s ease-in-out;
}
.tabs-stage {
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}
.tabs-stage p{
  font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666a73;
}

.text-color{  
  color:#ff9933
}
.text-bold{
  font-weight: 600;
}
.text-muted{
  color: #999;
}
/* Events sidebar */

.figure{
  border-radius: 5px;
}
.figure:hover{
  -webkit-box-shadow: -6px -6px 44px -1px rgba(148,148,148,0.85);
  -moz-box-shadow: -6px -6px 44px -1px rgba(148,148,148,0.85);
  box-shadow: -6px -6px 44px -1px rgba(148,148,148,0.85);
  transition: .1s ease-in-out;
  transition-property: all;
  
}
.figure a {
  transition: .1s ease-in-out;
  transition-property: all;
}
.figure img {
  object-fit: cover;
  margin: 0;
}

.sidebar h4 {
  color: #45494e;
  border-bottom: solid 1px #d2d6dd;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
  font-weight: 500;
}


.sidebar li a {
  transition: .2s ease-in-out;
  transition-property: all;
}


.sidebar li div {
  color: #535353;
}

.sidebar li span {
  color: #d2d6dd;
  font-size: .9rem;
}

.sidebar li div:hover{
  color: #ff9933;
}

.sidebar li {
  border-bottom: solid 1px #d2d6dd;
  padding-bottom: .5rem;
  margin-bottom: .5rem;
}


